# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# production
/build
/dist
/empty_my_fridge.egg-info

# misc
#/cpanel/cpanel/config.py
/.history

