# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing
empty_my_fridge/config.py

# production
/build
/dist
/empty_my_fridge.egg-info

# misc
/.history
empty_my_fridge/__pycache__
empty_my_fridge/empty_my_fridge/__pycache__
empty_my_fridge/empty_my_fridge/model/__pycache__
#empty_my_fridge/db.sqlite3
