<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit Profile Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
  </head>
  <body>
    {% csrf_token %}
    <!--Navigation Bar-->
    <div class="ui pointing inverted top fixed menu">
      <div class="item">
        <h3>Empty My Fridge</h3>
      </div>

      <a onclick="location.href={% url 'home'%}" class="item">
        Home
      </a>
      <a class="item">
        Recipes
      </a>
      <div class="ui link dropdown simple item">
        <span class="text">Browse</span>
        <i class="dropdown icon"></i>
        <div class="menu inverted">
          <div class="item">Pastries</div>
          <div class="item">Meals</div>
          <div class="item">Appetizers</div>
          <div class="item">Dessert</div>
        </div>
      </div>

      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search for recipes..." />
          <i class="search icon"></i>
        </div>
      </div>
      <div class="right menu">
        <div onclick="location.href={% url 'profile'%}" class="item active">
          <img
            id="image_profile"
            class="ui avatar image mini"
            src="{{data.image}}"
          />
          <p id="hi_name">{{data.name}}</p>
        </div>
        <a onclick="location.href={% url 'logout'%}" class="item">
          Logout
        </a>
      </div>
    </div>
    <!--End of Navigation Bar-->

    <!--Profile Image-->

    <div class="ui segment inverted">
      <div style="margin-top: 70px; display: inline-flex;">
        <img id="user_image" class="ui avatar image small" src="{{data.image}}">
        <div style="margin-left: 5px;  margin-top: 15%;">
          <h2 style="color: bisque; ">{{data.name}} </h2>
        </div>
        
      </div>

    </div>

    <!--Container-->

    <div class="ui container" style="margin-top: 20px; margin-bottom: 250px;">

      <div class="ui pointing menu">
        <a onclick="location.href={% url 'profile'%}" class="item">
          About Me
        </a>
        <a class="item">
          Friends
        </a>
        <a class="item">
          My Favorite Recipes
        </a>
        <a class="item">
          Personal Recipes
        </a>
        
        <div class="right menu">
          <a class="active item">
            Edit Profile
          </a>
          <a onclick="location.href={% url 'account_settings'%}" class="item">
            Account Settings
          </a>
        </div>
      </div>
      <div style="margin-bottom: 50px;" class="ui raised segment">
        <form action="/save_profile/" method="post" class="ui form">
          <div style="width: 30%;" class="field">
            <label>Full Name</label>
            <input value="{{data.name}}" placeholder="Full Name" required name="name" type="text">
          </div>

          <div style="width: 30%;" class="field">
            <label>Username</label>
            <input value="@{{data.username}}" placeholder="Username" readonly="" type="text">
          </div>

          <div style="width: 30%;" class="field">
            <label>Bio</label>
            <textarea rows="3" placeholder="Bio" type="text" name="bio">{{data.bio}}</textarea>
          </div>
          
          <div style="width: 60%;" class="two fields">
            <div class="field">
              <label>Country</label>
              <input name="country" placeholder="Country" value="{{data.country}}" type="text">
            </div>
            <div class="field">
              <label>State</label>
              <input name="state" placeholder="State" value="{{data.state}}" type="text">
            </div>
          </div>
          <div style="width: 30%;" class="field">
            <label>Personal Blog</label>
            <input value="{{data.blog}}" placeholder="Personal Blog" name="blog" type="url">
          </div>

          <button class="ui button yellow" type="submit">Save Changes</button>

        </form>
        <div style="display: none;" id="message" class="ui {{msg_type}} message">
          <div class="header">
            {{msg_type}}
          </div>
          <p>{{message}}</p>
        </div>
      </div>
      
    </div>

    {% if message %}
    <script>
      document.getElementById("message").style.display = "block";
    </script>
    {% endif %}

    {% if data %}
    <script>
      document.getElementById("user_image").src =
        "https://react.semantic-ui.com/images/avatar/large/matthew.png";
      document.getElementById("image_profile").src =
        "https://react.semantic-ui.com/images/avatar/large/matthew.png";
    </script>
    {% endif %}
  </body>
</html>