<!DOCTYPE html>
<html lang="en-GB" id="root_html" class="js mod_mybar loggedout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="manifest.json" rel="manifest" />
    <script>
      !(function (e, n, A) {
        function o(e, n) {
          return typeof e === n;
        }
        function t() {
          var e, n, A, t, a, i, l;
          for (var f in r)
            if (r.hasOwnProperty(f)) {
              if (
                ((e = []),
                (n = r[f]),
                n.name &&
                  (e.push(n.name.toLowerCase()),
                  n.options && n.options.aliases && n.options.aliases.length))
              )
                for (A = 0; A < n.options.aliases.length; A++)
                  e.push(n.options.aliases[A].toLowerCase());
              for (
                t = o(n.fn, "function") ? n.fn() : n.fn, a = 0;
                a < e.length;
                a++
              )
                (i = e[a]),
                  (l = i.split(".")),
                  1 === l.length
                    ? (Modernizr[l[0]] = t)
                    : (!Modernizr[l[0]] ||
                        Modernizr[l[0]] instanceof Boolean ||
                        (Modernizr[l[0]] = new Boolean(Modernizr[l[0]])),
                      (Modernizr[l[0]][l[1]] = t)),
                  s.push((t ? "" : "no-") + l.join("-"));
            }
        }
        function a(e) {
          var n = u.className,
            A = Modernizr._config.classPrefix || "";
          if ((c && (n = n.baseVal), Modernizr._config.enableJSClass)) {
            var o = new RegExp("(^|\s)" + A + "no-js(\s|$)");
            n = n.replace(o, "$1" + A + "js$2");
          }
          Modernizr._config.enableClasses &&
            ((n += " " + A + e.join(" " + A)),
            c ? (u.className.baseVal = n) : (u.className = n));
        }
        function i(e, n) {
          if ("object" == typeof e) for (var A in e) f(e, A) && i(A, e[A]);
          else {
            e = e.toLowerCase();
            var o = e.split("."),
              t = Modernizr[o[0]];
            if ((2 == o.length && (t = t[o[1]]), "undefined" != typeof t))
              return Modernizr;
            (n = "function" == typeof n ? n() : n),
              1 == o.length
                ? (Modernizr[o[0]] = n)
                : (!Modernizr[o[0]] ||
                    Modernizr[o[0]] instanceof Boolean ||
                    (Modernizr[o[0]] = new Boolean(Modernizr[o[0]])),
                  (Modernizr[o[0]][o[1]] = n)),
              a([(n && 0 != n ? "" : "no-") + o.join("-")]),
              Modernizr._trigger(e, n);
          }
          return Modernizr;
        }
        var s = [],
          r = [],
          l = {
            _version: "3.6.0",
            _config: {
              classPrefix: "",
              enableClasses: !0,
              enableJSClass: !0,
              usePrefixes: !0,
            },
            _q: [],
            on: function (e, n) {
              var A = this;
              setTimeout(function () {
                n(A[e]);
              }, 0);
            },
            addTest: function (e, n, A) {
              r.push({ name: e, fn: n, options: A });
            },
            addAsyncTest: function (e) {
              r.push({ name: null, fn: e });
            },
          },
          Modernizr = function () {};
        (Modernizr.prototype = l), (Modernizr = new Modernizr());
        var f,
          u = n.documentElement,
          c = "svg" === u.nodeName.toLowerCase();
        !(function () {
          var e = {}.hasOwnProperty;
          f =
            o(e, "undefined") || o(e.call, "undefined")
              ? function (e, n) {
                  return n in e && o(e.constructor.prototype[n], "undefined");
                }
              : function (n, A) {
                  return e.call(n, A);
                };
        })(),
          (l._l = {}),
          (l.on = function (e, n) {
            this._l[e] || (this._l[e] = []),
              this._l[e].push(n),
              Modernizr.hasOwnProperty(e) &&
                setTimeout(function () {
                  Modernizr._trigger(e, Modernizr[e]);
                }, 0);
          }),
          (l._trigger = function (e, n) {
            if (this._l[e]) {
              var A = this._l[e];
              setTimeout(function () {
                var e, o;
                for (e = 0; e < A.length; e++) (o = A[e])(n);
              }, 0),
                delete this._l[e];
            }
          }),
          Modernizr._q.push(function () {
            l.addTest = i;
          }),
          Modernizr.addAsyncTest(function () {
            function e(e, n, A) {
              function o(n) {
                var o = n && "load" === n.type ? 1 == t.width : !1,
                  a = "webp" === e;
                i(e, a && o ? new Boolean(o) : o), A && A(n);
              }
              var t = new Image();
              (t.onerror = o), (t.onload = o), (t.src = n);
            }
            var n = [
                {
                  uri:
                    "data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=",
                  name: "webp",
                },
                {
                  uri:
                    "data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAABBxAR/Q9ERP8DAABWUDggGAAAADABAJ0BKgEAAQADADQlpAADcAD++/1QAA==",
                  name: "webp.alpha",
                },
                {
                  uri:
                    "data:image/webp;base64,UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA",
                  name: "webp.animation",
                },
                {
                  uri:
                    "data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=",
                  name: "webp.lossless",
                },
              ],
              A = n.shift();
            e(A.name, A.uri, function (A) {
              if (A && "load" === A.type)
                for (var o = 0; o < n.length; o++) e(n[o].name, n[o].uri);
            });
          }),
          t(),
          a(s),
          delete l.addTest,
          delete l.addAsyncTest;
        for (var p = 0; p < Modernizr._q.length; p++) Modernizr._q[p]();
        e.Modernizr = Modernizr;
      })(window, document);
    </script>
    <base href="https://makemeacocktail.com/" />
    <!--[if IE]></base><![endif]-->

    <link
      href="css/master.css?v=139"
      rel="stylesheet"
      type="text/css"
      media="screen"
      async
    />
  </head>
  <body data-gr-c-s-loaded="true">
    <section id="main" role="main">
      <div class="page_content_mybar">
        <h1>My Fridge</h1>
        <p class="marg_bot_40">
          Simply add the ingredients you have at home and we'll show you the
          cocktails you can make.<br />
          Make an account and we’ll save your ingredients list so you 
          can come back to it at any time.
        </p>
        <div class="mybar_instructions">
          <ol class="numbered horizontal">
            <li>
              <div class="number">1</div>
              <div class="text">
                <h4>Search ingredients</h4>
                <p>
                  Browse the categories or use the search bar to find your
                  favourite ingredients
                </p>
              </div>
            </li>
            <li>
              <div class="number">2</div>
              <div class="text">
                <h4>Select ingredients</h4>
                <p>
                  Click on the ingredients you want and see them appear in My
                  Bar
                </p>
              </div>
            </li>
            <li>
              <div class="number">3</div>
              <div class="text">
                <h4>See what you can make</h4>
                <p>
                  Click 'Make Me A Cocktail' to find out what you can make with
                  your bar
                </p>
              </div>
            </li>
          </ol>
        </div>
        <div class="flex mybar main_bar_holder">
          <div class="mybar_inner mybar_a">
            <span class="mybar_list_holder">
              <h3>Getting started</h3>

              <div class="my_bar_search">
                <div class="search-container">
                  <form>
                    <input type="text" placeholder="Search.." />
                    <button type="submit"><i></i></button>
                  </form>
                </div>
              </div>
            </span>

            <ul class="my_bar_list" data-tolist="b" data-fromlist="a">
              {% for food in ingredients %}
              <form>
                <input type="checkbox" />
                <label> {{food}}</label><br />
              </form>
              {% endfor %}
            </ul>

            <div class="mybargo">
              <a
                href="javascript:;"
                class="fw_button small_fw_button makemeacocktail"
                id="makemeacocktail_gobtn"
              >
                <i class="icon icon-mybar-nav"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="45"
                    height="45"
                    viewBox="0 0 45 45"
                  >
                    <circle cx="22.5" cy="22.5" r="22.5" fill="#fff"></circle>
                    <g transform="translate(-57.37 -36.569) rotate(-30) ">
                      <line
                        x2="19.001"
                        transform="translate(31 81)"
                        fill="none"
                        stroke="#354d72"
                        stroke-linecap="round"
                        stroke-width="2"
                      ></line>
                      <line
                        y1="11.736"
                        x2="9.5"
                        transform="translate(40.5 81)"
                        fill="none"
                        stroke="#354d72"
                        stroke-linecap="round"
                        stroke-width="2"
                      ></line>
                      <line
                        x1="9.5"
                        y1="11.736"
                        transform="translate(31 81)"
                        fill="none"
                        stroke="#354d72"
                        stroke-linecap="round"
                        stroke-width="2"
                      ></line>
                      <line
                        y2="11.177"
                        transform="translate(40.5 92.736)"
                        fill="none"
                        stroke="#354d72"
                        stroke-linecap="round"
                        stroke-width="2"
                      ></line>
                      <line
                        x1="7.824"
                        transform="translate(36.588 103.913)"
                        fill="none"
                        stroke="#354d72"
                        stroke-linecap="round"
                        stroke-width="2"
                      ></line>
                    </g>
                  </svg> </i
                ><span>Make me a cocktail</span
                ><i class="icon icon-smallarrow"
                  ><svg
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 7.6 12.6"
                    style="enable-background: new 0 0 7.6 12.6;"
                    xml:space="preserve"
                  >
                    <style type="text/css">
                      .sarrow {
                        fill: none;
                        stroke: #ffffff;
                        stroke-width: 2;
                        stroke-linecap: round;
                      }
                    </style>
                    <g transform="translate(33.089 1940.257) rotate(-90)">
                      <path class="sarrow" d="M1933.8-26.9l-4.8-4.8"></path>
                      <path class="sarrow" d="M1933.8-26.9l5-4.8"></path>
                    </g>
                  </svg>
                </i>
              </a>
            </div>
          </div>

          <div class="mybar_inner mybar_d">
            <h3>
              My Bar
              <span class="smaller"
                >(<span class="num_mybar">0</span> ingredients)</span
              >
            </h3>
            <div
              class="my_bar_list my_bar_list_c"
              data-tolist=""
              style="height: 815.552px;"
            ></div>
            <a
              href="javascript:;"
              class="fw_button small_fw_button"
              id="makemeacocktail"
            >
              <i class="icon icon-mybar-nav"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="45"
                  height="45"
                  viewBox="0 0 45 45"
                >
                  <circle cx="22.5" cy="22.5" r="22.5" fill="#fff"></circle>
                  <g transform="translate(-57.37 -36.569) rotate(-30) ">
                    <line
                      x2="19.001"
                      transform="translate(31 81)"
                      fill="none"
                      stroke="#354d72"
                      stroke-linecap="round"
                      stroke-width="2"
                    ></line>
                    <line
                      y1="11.736"
                      x2="9.5"
                      transform="translate(40.5 81)"
                      fill="none"
                      stroke="#354d72"
                      stroke-linecap="round"
                      stroke-width="2"
                    ></line>
                    <line
                      x1="9.5"
                      y1="11.736"
                      transform="translate(31 81)"
                      fill="none"
                      stroke="#354d72"
                      stroke-linecap="round"
                      stroke-width="2"
                    ></line>
                    <line
                      y2="11.177"
                      transform="translate(40.5 92.736)"
                      fill="none"
                      stroke="#354d72"
                      stroke-linecap="round"
                      stroke-width="2"
                    ></line>
                    <line
                      x1="7.824"
                      transform="translate(36.588 103.913)"
                      fill="none"
                      stroke="#354d72"
                      stroke-linecap="round"
                      stroke-width="2"
                    ></line>
                  </g>
                </svg> </i
              ><span>Make me a cocktail</span
              ><i class="icon icon-smallarrow"
                ><svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 7.6 12.6"
                  style="enable-background: new 0 0 7.6 12.6;"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .sarrow {
                      fill: none;
                      stroke: #ffffff;
                      stroke-width: 2;
                      stroke-linecap: round;
                    }
                  </style>
                  <g transform="translate(33.089 1940.257) rotate(-90)">
                    <path class="sarrow" d="M1933.8-26.9l-4.8-4.8"></path>
                    <path class="sarrow" d="M1933.8-26.9l5-4.8"></path>
                  </g>
                </svg>
              </i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>